<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlueprintProApps"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".network.ClientProjectsActivity"
            android:exported="false" />
        <activity
            android:name=".network.ClientProjectTrackerActivity"
            android:exported="false" />
        <activity
            android:name=".network.ArchitectDeletedProjectsActivity"
            android:exported="false" />
        <!-- ✅ WebViewActivity: handles subscription success/cancel -->
        <activity
            android:name=".WebViewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="subscription-success"
                    android:scheme="blueprintpro" />
                <data
                    android:host="subscription-cancel"
                    android:scheme="blueprintpro" />
            </intent-filter>
        </activity>
        <activity
            android:name=".network.EditMarketplaceBlueprintActivity"
            android:exported="false" />
        <activity
            android:name=".network.EditProfileActivity"
            android:exported="false" />

        <activity
            android:name=".network.ProfileActivity"
            android:exported="false" />

        <activity
            android:name=".network.ArchitectProjectTrackerActivity"
            android:exported="false" />
        <activity
            android:name=".network.ArchitectMatchActivity"
            android:exported="false" />
        <activity
            android:name=".network.ArchitectChatActivity"
            android:exported="false" />
        <activity
            android:name=".network.ArchitectMessagesActivity"
            android:exported="false" />
        <activity
            android:name=".network.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".network.MessagesActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Stripe success & cancel redirect URLs -->
                <data
                    android:host="payment-success"
                    android:scheme="blueprintpro" />
                <data
                    android:host="payment-cancel"
                    android:scheme="blueprintpro" />
            </intent-filter>
        </activity>
        <activity
            android:name=".network.UploadProjectBlueprintActivity"
            android:exported="false" />
        <activity
            android:name=".network.UploadMarketplaceBlueprintActivity"
            android:exported="false" />
        <activity
            android:name=".network.ArchitectBlueprintActivity"
            android:exported="false" />
        <activity
            android:name=".network.ArchitectDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".network.MarketPlaceActivity"
            android:exported="false" />
        <activity
            android:name=".network.MatchClientActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".network.ClientDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".network.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".network.RegisterArchitectActivity"
            android:exported="false" />
        <activity
            android:name=".network.RegisterClientActivity"
            android:exported="false" />
        <activity
            android:name=".network.ChooseRoleActivity"
            android:exported="false" />
        <activity
            android:name=".network.ArchitectProjectActivity"
            android:exported="false" />
        <activity
            android:name=".network.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>