<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlueprintProApps"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".network.UploadMarketplaceBlueprintActivity"
            android:exported="false" />
        <activity
            android:name=".network.ArchitectBlueprintActivity"
            android:exported="false" />
        <activity
            android:name=".network.ArchitectDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".network.MarketPlaceActivity"
            android:exported="false" />
        <activity
            android:name=".network.MatchClientActivity"
            android:exported="false" />
        <activity
            android:name=".network.ClientDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".network.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".network.RegisterArchitectActivity"
            android:exported="false" />
        <activity
            android:name=".network.RegisterClientActivity"
            android:exported="false" />
        <activity
            android:name=".network.ChooseRoleActivity"
            android:exported="false" />
        <activity
            android:name=".network.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>